html {
    cursor: url('./icons/mouse_ms-1.png'), auto;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #007f7f;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-top: 2px solid grey;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 25px;
    background-color: rgb(175, 175, 175);
    min-width: 540px;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-me-content{
    display: flex;
    flex-direction: row;
}

.me-img{
    margin: 5px;
    width: 130px;
    height: auto;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    border-bottom: 2px solid black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: rgb(175, 175, 175);
    min-width: 540px;
}
nav:hover{
    cursor: url('./icons/mouse_ms-1.png'), auto;
}
.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.nav-icon:hover{
    cursor: pointer;
}

.nav-space{
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.icons {
    display: flex;
    flex-direction: row;
}

img {
    width: 50px;
    height: 50px;
}

.about-me-window{
    border-left: 3px solid rgb(228, 228, 228);
    border-top: 3px solid rgb(228, 228, 228);
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    margin-top: 50px;
    width: 500px;
    height: 300px;
    background-color: rgb(175, 175, 175);
    margin: 10px;
}
.contact-me-window{
    display: none;
    border-left: 3px solid rgb(228, 228, 228);
    border-top: 3px solid rgb(228, 228, 228);
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    margin: 20px;
    width: 400px;
    height: 200px;
    background-color: rgb(175, 175, 175);
}
.technical-skills-window{
    display: none;
    border-left: 3px solid rgb(228, 228, 228);
    border-top: 3px solid rgb(228, 228, 228);
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    margin: 20px;
    width: 400px;
    height: 200px;
    background-color: rgb(175, 175, 175);
}

.projects-window{
    display: none;
    border-left: 3px solid rgb(228, 228, 228);
    border-top: 3px solid rgb(228, 228, 228);
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    margin: 20px;
    width: 500px;
    height: 300px;
    background-color: rgb(175, 175, 175);
}

#fortune-teller{
    display: none;
}

#rgb-guesser{
    display: none;
}

h2{
    margin: 0;
}

.project-tech-span{
    background-color: rgb(232, 232, 232);
    padding: 2px;
    border-radius: 5px;
}
.tech-used-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects-content{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}
.project-explorer{
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 265px;
    background-color: white;
    border: 2px solid black;
}
.project-display{
    width: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 10px;
    align-items: center;
}

.project-img{
    width: 300px;
    height: auto;
    border-left: 3px solid rgb(228, 228, 228);
    border-top: 3px solid rgb(228, 228, 228);
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
}

.folder-icon{
    width: 20px;
    margin-right: 5px;
    height: auto;
}

.project-name-span{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center ;
}
.project-name-span:hover{
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}

#readme-generator{
    display: none;
}

#password-generator-folder{
    background-color: #cecece;
}


.technical-skills-content{
    width: 400px;
    height: 175px;
    overflow-y: auto;
}

.technical-skills-span{
    margin-left: 10px;
}

.contact-me-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.technologies{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-icon-group{
    margin: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.tech-icon{
    width: 30px;
    height: auto;

}

.icon-span{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.icon-span:hover{
    cursor: pointer;
}

.contact-me-icons {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.window-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    background-color: #04017e;
}
.window-top span{
    margin-left: 10px;
    color: white;
}
.window-top-icons{
    display: flex;
    flex-direction: row;
}

.window-top-icon{
    border-left: 3px solid rgb(228, 228, 228);
    border-top: 3px solid rgb(228, 228, 228);
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 175, 175);
    margin-right: 5px;
    margin-top: 2px;
    width: 17px;
    height: 17px;
}
.window-top-icon:hover{
    cursor: pointer;
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #888;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(159, 159, 159);
  }

/* breakpoints */
@media only screen and (max-width: 600px) {
    .about-me-window {
        width: 400px;
        height: 200px;
        margin-left: 100px;
    }
    .contact-me-window{
        margin-left: 100px;
    }
    .technical-skills-window{
        margin-left: 100px;
    }
    .projects-window{
        margin-left: 30px;
    }
    .me-img{
        width: 80px;
        height: 140px;
    }
    .about-me-span{
        font-size: 10px;
    }
    .about-me-header{
        margin: 0;
    }
}