html {
    cursor: url('./icons/mouse_ms-1.png'), auto;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #007f7f;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-top: 2px solid grey;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 25px;
    background-color: rgb(175, 175, 175);
}

.main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me-content{
    display: flex;
    flex-direction: row;
}

.me-img{
    margin: 5px;
    width: 130px;
    height: auto;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    border-bottom: 2px solid black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: rgb(175, 175, 175);
}
nav:hover{
    cursor: url('./icons/mouse_ms-1.png'), auto;
}
.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.nav-icon:hover{
    cursor: pointer;
}

.nav-space{
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.icons {
    display: flex;
    flex-direction: row;
}

img {
    width: 50px;
    height: 50px;
}

.about-me-window{
    border-left: 3px solid rgb(228, 228, 228);
    border-top: 3px solid rgb(228, 228, 228);
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    margin-top: 50px;
    width: 500px;
    height: 300px;
    background-color: rgb(175, 175, 175);
}
.contact-me-window{
    border-left: 3px solid rgb(228, 228, 228);
    border-top: 3px solid rgb(228, 228, 228);
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    margin-top: 50px;
    width: 400px;
    height: 200px;
    background-color: rgb(175, 175, 175);
}


.window-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    background-color: #04017e;
}
.window-top span{
    margin-left: 10px;
    color: white;
}
.window-top-icons{
    display: flex;
    flex-direction: row;
}

.window-top-icon{
    border-left: 3px solid rgb(228, 228, 228);
    border-top: 3px solid rgb(228, 228, 228);
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 175, 175);
    margin-right: 5px;
    margin-top: 2px;
    width: 17px;
    height: 17px;
}
.window-top-icon:hover{
    cursor: pointer;
}